{% extends 'layouts/app.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<section class="form-panel">
    <h2 class="text-main">Reset password</h2>
    <p>¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</p>

    <form action="" method="post" class="form-control">
        {% csrf_token %}

        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
            <div class="field-error">
                {{ form.email.errors.0 }}
            </div>
        {% endif %}
        </div>

        <div class="full-width">
            <button type="submit">Reset password</button>
        </div>
    </form>
</section>
{% endblock %}