{% extends 'layouts/app.html' %}
{% load static %}
{% load components %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/basic_styles.css' %}">
{% endblock %}

{% block content %}
{% if messages %}
  <div class="message-container">
    {% for message in messages %}
      <div class="message {{ message.tags }}">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% card "profile" %}
{% if request.user.is_authenticated %}
<div class="form-grid">
  <div class="form-group">
    <div class="user-info-label">{{ label_username }}:</div>
    <div class="user-info-value">{{ request.user.username }}</div>
  </div>

  <div class="form-group">
    <div class="user-info-label">{{ label_first_name }}:</div>
    <div class="user-info-value">{{ request.user.first_name }}</div>
  </div>

  <div class="form-group">
    <div class="user-info-label">{{ label_last_name }}:</div>
    <div class="user-info-value">{{ request.user.last_name }}</div>
  </div>

  <div class="form-group">
      <div class="user-info-label">{{ label_email }}:</div>
      <div class="user-info-value">{{ request.user.email }}</div>
    </div>
  </div>

  <div class="form-button">
    {% if request.user.is_authenticated and request.user.id %}
    <a href="{% url 'profile_edit' request.user.id %}" class="sub-button">Edit profile</a>
    {% endif %}
  </div>  
</div>
{% else %}
<h2>No estás autenticado</h2>
{% endif %}
{% endcard %}

{% card "Cambio de contraseña" %}
  <p class="card-text">Puedes actualizar tu contraseña para mantener tu cuenta segura.</p>
  <div class="form-button">
    <a href="{% url 'change-password' %}" class="sub-button">Cambiar contraseña</a>
  </div>
{% endcard %}

{% card "Borrar cuenta" %}
  <p class="card-text">Esta acción eliminará tu cuenta de forma permanente. No podrás recuperarla después.</p>
  <div class="form-button">
    {% if request.user.is_authenticated and request.user.id %}
      <a href="{% url 'profile_delete' request.user.id %}" class="sub-button">Eliminar perfil</a>
    {% endif %}
  </div>
{% endcard %}

{% endblock %}

{% block script %}
<script src="{% static 'js/message.js' %}"></script>
{% endblock %}