<h1 class="text-main">{{ titulo }}</h1>
{% if form.non_field_errors %}
<div class="form-errors">
  {% for error in form.non_field_errors %}
  <p>{{ error }}</p>
  {% endfor %}
</div>
{% endif %}

<form action="" method="post" class="form-control">
    {% csrf_token %}
    {% for field_name, field in contents.items %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="field-error">
                    {{ field.errors.0 }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="full-width ">
        <button class="button_form" type="submit" {% if name %} name="{{ name }}"{% endif %}>{{ content_button }}</button>
    </div>
</form>