{% extends 'layouts/app.html' %}
{% load static %}
{% load components %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/basic_styles.css' %}">
{% endblock %}

{% block content %}
{% card "Reset password" %}
    {% if form.non_field_errors %}
    <div class="form-errors">
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <p>¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</p>

    <form method="post" class="form-control">
        {% csrf_token %}

        <div class="form-grid">
            <div class="form-group">
                <div class="form-label">{{ form.email.label_tag }}</div>
                <div class="form-input">{{ form.email }}</div>
                {% if form.email.errors %}
                <div class="field-error">{{ form.email.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-button">
                <button type="submit" class="sub-button">Reset password</button>
            </div>
        </div>
    </form>
{% endcard %}
{% endblock %}