{% extends 'layouts/app.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<section class="form-panel">
    <h2 class="text-main">Login</h2>

    {% if form.non_field_errors %}
    <div class="form-errors">
      {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
    <form method="post" class="form-control">
        {% csrf_token %}

        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
            <div class="field-error">
              {{ form.username.errors.0 }}
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password.errors %}
            <div class="field-error">
                {{ form.password.errors.0 }}
            </div>
            {% endif %}
        </div>

        <div class="full-width">
            <button type="submit">Login</button>
        </div>
    </form>
</section>
{% endblock %}