.botton_ui {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.botton_ui a{
  text-decoration: none;
}
  
.botton_ui.text-left {
  justify-content: flex-start;
}
  
.botton_ui.text-center {
  justify-content: center;
}
  
.botton_ui.text-right {
  justify-content: flex-end;
}

.botton_ui.text-left {
  justify-content: flex-start;
}
.botton_ui.text-center {
  justify-content: center;
}
  
.botton_ui.text-right {
    justify-content: flex-end;
}
  
.btn {
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #007bff;
    color: white;
}
  
/* Tamaños */
.btn-sm {
  font-size: 14px;
  padding: 6px 12px;
}
  
.btn-md {
  font-size: 16px;
  padding: 8px 16px;
}
  
.btn-lg {
  font-size: 18px;
  padding: 12px 24px;
}
  
/* Colores de botón */
.btn-primary {
    background-color: #007bff;
    color: white;
}
  
.btn-secondary {
  background-color: #6c757d;
  color: white;
}
  
.btn-success {
  background-color: #28a745;
  color: white;
}
  
.btn-danger {
  background-color: #dc3545;
  color: white;
}
  
.btn-warning {
  background-color: #ffc107;
  color: black;
}
  
.btn-info {
  background-color: #17a2b8;
  color: white;
}

  /* Colores de texto */
.text-white {
    color: white !important;
}
  
.text-black {
  color: black !important;
}
  
.text-primary {
  color: #007bff !important;
}
  
.text-secondary {
  color: #6c757d !important;
}
  
.text-success {
  color: #28a745 !important;
}
  
.text-danger {
  color: #dc3545 !important;
}
  
.text-warning {
  color: #ffc107 !important;
}
  
.text-info {
  color: #17a2b8 !important;
}