{% extends 'layouts/app.html' %}
{% load static %}
{% load forms_tags %}
{% load ui_tags %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/ui.css' %}">
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %} 
  {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        <div class="message {{ message.tags }}">
          <span class="close-btn" onclick="closeMessage(this)">&times;</span>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <section class="form-panel">
    {% render_form form titulo contents content_button %}

    <h2 class="second-title">Cambio de contraseña:</h2>
    <p class="section-paraf">Si deseas cambiar la contraseña de tu cuenta, presiona el botón a continuación para acceder al formulario.</p>
    {% button title_button=title_button href=href %}
  </section>
{% endif %}
{% endblock %}
{% block script %}
<script>
  function closeMessage(button) {
    const message = button.parentElement;
    message.classList.add('fade-out');
    setTimeout(() => {
      message.style.display = 'none';
    }, 300); // Tiempo igual a la duración de la animación
  }
</script>
{% endblock %}