{% extends 'layouts/app.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<section class="form-panel">
    <h2 class="text-main">{{ title }}</h2>

    <form method="post">
        {% csrf_token %}
        <p>¿De verdad estás seguro de eliminar tu cuenta?</p>
        <div class="full-width">
            <button type="submit">{{ button }}</button>
            <a href="{% url 'profile' %}" class="button_form">Cancelar</a>
        </div>
    </form>
</section>
{% endblock %}